# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary files
*.tmp
*.swp

# Data and configuration
data/
config.ini
credentials.json

# Build artifacts
dist/
build/
.streamlit/